@font-face {
    font-family: 'iranyekan';
    src:url(https://lib.arvancloud.com/ar/font/Yekan/Yekan.eot) format('embedded-opentype'),url(https://lib.arvancloud.com/ar/font/Yekan/Yekan.woff) format('woff'),url(https://lib.arvancloud.com/ar/font/Yekan/Yekan.ttf) format('truetype')
}
.jwplayer,.jw-reset-text, .jw-reset,.jw-text,.jw-text-live{
    font-family: 'iranyekan' !important;
}
#d-jwplayer_vastlink {
    bottom: 85px !important;
}

.jw-skip {
    bottom: 85px !important;
    right: 0px !important;
    background: none;
    background-color: rgba(0,0,0,0.55);
    color: #fafafa !important;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.jw-skiptext {
    font-size: 13px !important;
    font-weight: normal;
    direction: rtl !important;
    color: #cccccc !important;
}

button.vast-clickThrough {
    font-size: 16px;
    background: none;
    background-color: #10af4b94 !important;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #fafafa !important;
    font-family: 'iranyekan' !important;
}
.jw-plugin.jw-reset{
    padding: 1em;
    display: block;
}
.jwplayer .jw-controlbar .jw-slider-time .jw-slider-container .jw-buffer {
    background-color: #fff !important;
}
.jw-flag-ads .jw-progress{
    background: #10AF4B !important;
}
.jw-flag-ads .jw-button-color:hover,.jw-flag-ads .jw-knob,.jw-flag-ads .jw-knob:hover{
    color: #10AF4B !important;
}
.jw-flag-ads .jw-knob.jw-reset{
    color: #10AF4B !important;
    background: #10AF4B !important;
}
.jw-flag-ads .jw-button-color{
    color: #fff !important;
}
.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-time .jw-slider-container{
    height: 4px !important;
}
.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-time{
    height: 10px !important;
}
.jw-skip.jw-reset{
    right: 1em !important;
    background-color: rgba(0,0,0,0.55) !important;
}
.jw-controlbar{
    /*padding: 0 15% !important;*/
}
.jw-button-container{
    /*background: #0606068f !important;*/
    /*border-top-right-radius: 25px;*/
    /*border-top-left-radius: 25px;*/
}



.jw-controlbar.jw-reset{
    background: rgba(0,0,0,0.7) !important;;
}
.jw-breakpoint-7 .jw-controlbar .jw-button-container{
    padding: 0 48px 5px !important;
}
.jw-breakpoint-7 .jw-controlbar .jw-slider-time{
    height: 25px !important;
}
.jw-breakpoint-7 .jw-controlbar .jw-slider-time .jw-slider-container{
    height: 7px !important;
}
.jw-flag-ads .jw-slider-time{
    width: 94% !important;
}


/* PLAYBACK */
.jw-state-idle .jw-svg-icon-play path {
    display: none;
}

.jw-state-idle .jw-svg-icon-play {
    background-image: url("assets/tavoos-play.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.jw-state-idle .jw-display-icon-container:hover .jw-svg-icon-play {
    background-image: url("assets/tavoos-play-hover.png");
    transition: all .3s ease-in-out;
}

.jw-state-paused .jw-svg-icon-play path {
    display: none;
}

.jw-state-paused .jw-svg-icon-play {
    background-image: url("assets/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-state-paused .jw-icon-playback:hover .jw-svg-icon-play {
    background-image: url("assets/play-hover.svg");
}

.jw-svg-icon-pause path {
    display: none;
}

.jw-svg-icon-pause {
    background-image: url("assets/pause.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-playback:hover .jw-svg-icon-pause {
    background-image: url("assets/pause-hover.svg");
}

/* BUFFER */
.jw-svg-icon-buffer path {
    display: none;
}

.jw-svg-icon-buffer {
    background-image: url("assets/buffer2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* REPLAY */
.jw-svg-icon-replay path {
    display: none;
}

.jw-svg-icon-replay {
    background-image: url("assets/replay.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-replay:hover .jw-svg-icon-replay {
    background-image: url("assets/replay-hover.svg");
}

/* REWIND */
.jw-svg-icon-rewind path {
    display: none;
}

.jw-svg-icon-rewind {
    background-image: url("assets/rewind.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-rewind:hover .jw-svg-icon-rewind {
    background-image: url("assets/rewind-hover.svg");
}

/* NEXT */
.jw-svg-icon-next path {
    display: none;
}

.jw-svg-icon-next {
    background-image: url("assets/next.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-next:hover .jw-svg-icon-next {
    background-image: url("assets/next-hover.svg");
}

/* VOLUME */
.jw-svg-icon-volume-100 path {
    display: none;
}

.jw-svg-icon-volume-100 {
    background-image: url("assets/volume-on.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-100 {
    background-image: url("assets/volume-on-hover.svg");
}

.jw-svg-icon-volume-0 path {
    display: none;
}

.jw-svg-icon-volume-0 {
    background-image: url("assets/volume-off.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-0 {
    background-image: url("assets/volume-off-hover.svg");
}

/* CLOSED CAPTIONS */
.jw-svg-icon-cc-off path {
    display: none;
}

.jw-svg-icon-cc-off {
    background-image: url("assets/captions.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-cc-off:hover .jw-svg-icon-cc-off {
    background-image: url("assets/captions-hover.svg");
}

/* PLAYLIST */
.jw-svg-icon-playlist path {
    display: none;
}

.jw-svg-icon-playlist {
    background-image: url("assets/playlist.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-playlist-btn:hover .jw-svg-icon-playlist {
    background-image: url("assets/playlist-hover.svg");
}

/* SETTINGS MENU */
.jw-svg-icon-settings path {
    display: none;
}

.jw-svg-icon-settings {
    background-image: url("assets/settings.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-settings:hover .jw-svg-icon-settings {
    background-image: url("assets/settings-hover.svg");
}

.jw-svg-icon-quality-100 path {
    display: none;
}

.jw-svg-icon-quality-100 {
    background-image: url("assets/quality.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-settings-quality:hover .jw-svg-icon-quality-100 {
    background-image: url("assets/quality-hover.svg");
}

.jw-svg-icon-close path {
    display: none;
}

.jw-svg-icon-close {
    background-image: url("assets/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-settings-close:hover .jw-svg-icon-close {
    background-image: url("assets/close-hover.svg");
}

/* FULLSCREEN */
.jw-svg-icon-fullscreen-on path {
    display: none;
}

.jw-svg-icon-fullscreen-on {
    background-image: url("assets/fullscreen-on.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-fullscreen:hover .jw-svg-icon-fullscreen-on {
    background-image: url("assets/fullscreen-on-hover.svg");
}

.jw-svg-icon-fullscreen-off path {
    display: none;
}

.jw-svg-icon-fullscreen-off {
    background-image: url("assets/fullscreen-off.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-fullscreen:hover .jw-svg-icon-fullscreen-off {
    background-image: url("assets/fullscreen-off-hover.svg");
}

.glyphicon-new-window:before{
    color:white !important;
}

@media (min-width: 550px) {
    .jw-controlbar.jw-reset{
        background: rgba(0,0,0,0.7) !important;;
        left: 15% !important;
        right: 15% !important;
        width: 70% !important;
        bottom: 2% !important;
        border-radius: 25px !important;
    }
}
@media (max-width: 549px) {
    .jw-skip{
        bottom: 50% !important;
    }
    .jw-plugin{
        bottom: 50% !important;
    }
    .jw-plugin.jw-reset{
        padding: 0.5em !important;
    }
    button.vast-clickThrough{
        font-size: 12px;
    }
}

